<% if !@recipes.empty?%>
 <h1 class="text-center pb-2">Recipes</h1>
 <div id="recipes" class="text-center">
  <% @recipes.each do |recipe| %>
  <div class="border border-dark mb-3">
      <%= render recipe %>
      <p> <%= button_to "Destroy this recipe", recipe, method: :delete, class: "btn btn-outline-dark" %><br>
      </p>
    </div>
  <% end %>
 </div>
 <% if user_signed_in? %>
   <%= link_to "New recipe", new_recipe_path , class: "text-decoration-none" %>
 <% end %>
<%end%>