 <%= render 'shared/login' %>
 <h1 class="">Public Recipes</h1>
  
  <% if @recipes.empty? %>
  <p class="">Sorry, there are no public recipes at the moment. Check back later.</p>
  <% end %>
  <% @recipes.each do |recipe| %>
    <div class="">
        <div class="">
          <h2><%= link_to recipe.name, recipe_path(recipe.id) %></h2>
          <p class="">by: <%= recipe.user.name %></p>
        </div>
        <div class="">

          <%# <p class=""><%= recipe %></p> 
        </div> 
    </div>
  <% end %>