<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>
    <%= button_to "Logout", destroy_user_session_path, class: "btn btn-danger btn-sm" ,method: :delete %>
<% else %>
    <%= link_to "Login", new_user_session_path , class: "btn btn-success btn-sm"%>
    <%= link_to "Sign up", new_user_registration_path , class: "btn btn-primary btn-sm"%>
<% end %>