<div class="">
    <h1 class="">Shopping List</h1>
    <div class="">
     <h6>Amount of food items to buy: 
     <%@recipe.recipe_foods.each do |r| %>
         <%=r.quantity%>
     <%end%>
     </h6>
     <h6>Total value of food needed: $</h6>
    </div>
  <table class="">
  <thead>
    <tr>
      <th class="">Food</th>
      <th class="">Quantity</th>
      <th class="">Price</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
</div>